<div class="jumbotron">
  <h1>Rentsy</h1>
  <p class="lead">Plataforma web para arrendar objetos dentro de la Universidad</p>
  {{#if user}}
    <p>Welcome {{user}}!</p>
  {{else}}
  	<p>Esta app usa una API de Microsoft para acceder con Outlook</p>
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Inicia Sesión!</a>
  {{/if}}
</div>